<nz-page-header class="page-action" nzSize="small">
    <nz-page-header-title>
        <nz-icon nzType="key" nzTheme="outline"></nz-icon>
        Secret Manager
    </nz-page-header-title>
    <nz-page-header-subtitle>

    </nz-page-header-subtitle>
    <nz-page-header-extra>
        <nz-space>
            <nz-input-group *nzSpaceItem [nzPrefix]="prefixIconSearch" style="width: 200px;">
                <input type="text" nz-input placeholder="Search Secrets" [(ngModel)]="searchQuery"
                    (ngModelChange)="onSearchChange($event)" />
            </nz-input-group>
            <ng-template #prefixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template>
            <button *nzSpaceItem nz-button nzShape="round" nzType="primary" (click)="openCreate()"> <span nz-icon
                    nzType="plus" nzTheme="outline"></span> Add Credential</button>
        </nz-space>
    </nz-page-header-extra>
</nz-page-header>

<div class="secrets-root">
    <div class="secrets-list">
        <!-- Empty State -->
        <nz-empty *ngIf="!loading && secrets.length === 0" nzNotFoundContent="No secrets found">
        </nz-empty>

        <!-- List View -->
        <nz-list *ngIf="secrets.length > 0" [nzDataSource]="filteredSecrets" nzBordered>
            <nz-list-item *ngFor="let s of filteredSecrets; trackBy: trackBySecretId" class="secret-item">
                <div class="secret-content">
                    <div class="secret-main" (click)="openEdit(s)">
                        <nz-icon nzType="key" nzTheme="outline" class="secret-icon"></nz-icon>
                        <div class="secret-details">
                            <div class="secret-name">{{ s.name }}</div>
                            <div class="secret-meta">
                                <span class="meta-item" *ngIf="s.pluginName">
                                    <span class="meta-label">Plugin:</span> {{ s.pluginName }}
                                </span>
                                <span class="meta-item" *ngIf="!s.pluginName && s.type">
                                    <span class="meta-label">Type:</span> {{ s.type }}
                                </span>
                                <span class="meta-item" *ngIf="($any(s)).vaultType">
                                    <span class="meta-label">|</span> Vault: {{ ($any(s)).vaultType }}
                                </span>
                                <span class="meta-item">
                                    <span class="meta-label">|</span> Updated: {{ ($any(s)).updatedAtText || formatDate(($any(s)).updatedAt) }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="secret-actions">
                        <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight"
                            (click)="$event.stopPropagation()">
                            <nz-icon nzType="more" nzTheme="outline"></nz-icon>
                        </button>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item (click)="openEdit(s)">
                                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                                    Edit
                                </li>
                                <li nz-menu-item nzDanger nz-popconfirm nzPopconfirmTitle="Are you sure?"
                                    (nzOnConfirm)="confirmDelete(s.id)">
                                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                                    Delete
                                </li>
                            </ul>
                        </nz-dropdown-menu>
                    </div>
                </div>
            </nz-list-item>
        </nz-list>

    <!-- Pagination removed (list is small) -->
    </div>

    <nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="isEditing ? 'Edit Credential' : 'Add Credential'"
        (nzOnCancel)="closeModal()" (nzOnOk)="save()" [nzOkLoading]="saving" [nzWidth]="520">
        <div *nzModalContent>

            <form nz-form [formGroup]="form" nzLayout="vertical">
                <!-- Plugin Selection Dropdown -->
                <nz-form-item>
                    <nz-form-label nzFor="pluginId" nzRequired>Select Plugin</nz-form-label>
                    <nz-form-control [nzSpan]="24" nzErrorTip="Please select a plugin">
                        <nz-select 
                            id="pluginId" 
                            formControlName="pluginId" 
                            nzPlaceHolder="Select a plugin"
                            nzShowSearch
                            [nzLoading]="loadingPlugins"
                            (ngModelChange)="onPluginChange($event)"
                            [nzDisabled]="isEditing">
                            <nz-option 
                                *ngFor="let plugin of pluginsWithSecrets" 
                                [nzValue]="plugin.id" 
                                [nzLabel]="plugin.pluginName">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <!-- Credential Name -->
                <nz-form-item>
                    <nz-form-label nzFor="name" nzRequired>Credential Name</nz-form-label>
                    <nz-form-control [nzSpan]="24" nzErrorTip="Please enter a name">
                        <input nz-input id="name" formControlName="name" placeholder="Enter a unique name for this credential" />
                    </nz-form-control>
                </nz-form-item>

                <!-- Vault Type Selection -->
                <nz-form-item>
                    <nz-form-label nzFor="vaultType" nzRequired>Vault Type</nz-form-label>
                    <nz-form-control [nzSpan]="24">
                        <nz-select id="vaultType" formControlName="vaultType" nzPlaceHolder="Select vault">
                            <nz-option
                                *ngFor="let vt of vaultTypeOptions"
                                [nzValue]="vt.value"
                                [nzLabel]="vt.label" />
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <!-- Dynamic Secret Fields based on selected plugin -->
                <ng-container *ngIf="selectedPlugin && dynamicSecretFields.length > 0">
                    <nz-divider nzText="Plugin Credentials"></nz-divider>
                    
                    <nz-form-item *ngFor="let field of dynamicSecretFields">
                        <nz-form-label [nzFor]="field.id" [nzRequired]="field.required">
                            {{ field.label || field.id }}
                        </nz-form-label>
                        <nz-form-control [nzSpan]="24" [nzErrorTip]="field.required ? 'This field is required' : ''">
                            <!-- Text input -->
                            <ng-container *ngIf="field.type === 'text' || field.type === 'string' || !field.type">
                                <input 
                                    nz-input 
                                    [id]="field.id" 
                                    [formControlName]="field.id"
                                    [placeholder]="field.placeholder || ('Enter ' + (field.label || field.id))" />
                            </ng-container>
                            
                            <!-- Password input -->
                            <ng-container *ngIf="field.type === 'password' || field.type === 'secret'">
                                <nz-input-group [nzSuffix]="suffixTemplate">
                                    <input 
                                        [type]="field.passwordVisible ? 'text' : 'password'"
                                        nz-input 
                                        [id]="field.id" 
                                        [formControlName]="field.id"
                                        [placeholder]="field.placeholder || ('Enter ' + (field.label || field.id))" />
                                </nz-input-group>
                                <ng-template #suffixTemplate>
                                    <span 
                                        nz-icon 
                                        [nzType]="field.passwordVisible ? 'eye' : 'eye-invisible'"
                                        (click)="field.passwordVisible = !field.passwordVisible"
                                        style="cursor: pointer;">
                                    </span>
                                </ng-template>
                            </ng-container>
                            
                            <!-- Textarea -->
                            <ng-container *ngIf="field.type === 'textarea'">
                                <textarea 
                                    nz-input 
                                    [id]="field.id" 
                                    [formControlName]="field.id"
                                    [placeholder]="field.placeholder || ('Enter ' + (field.label || field.id))"
                                    [rows]="field.rows || 3">
                                </textarea>
                            </ng-container>
                            
                            <!-- Number input -->
                            <ng-container *ngIf="field.type === 'number'">
                                <nz-input-number 
                                    [id]="field.id" 
                                    [formControlName]="field.id"
                                    style="width: 100%;">
                                </nz-input-number>
                            </ng-container>
                            
                            <!-- Select/dropdown -->
                            <ng-container *ngIf="field.type === 'select' || field.type === 'dropdown'">
                                <nz-select 
                                    [id]="field.id" 
                                    [formControlName]="field.id"
                                    [nzPlaceHolder]="field.placeholder || ('Select ' + (field.label || field.id))">
                                    <nz-option 
                                        *ngFor="let opt of field.options || []" 
                                        [nzValue]="opt.value || opt" 
                                        [nzLabel]="opt.label || opt">
                                    </nz-option>
                                </nz-select>
                            </ng-container>
                            
                            <!-- Help text / info -->
                            <div *ngIf="field.info || field.secondaryText" class="field-info">
                                <small>{{ field.info || field.secondaryText }}</small>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </ng-container>

                <!-- Show message if no plugin selected -->
                <nz-empty 
                    *ngIf="!selectedPlugin && !isEditing" 
                    nzNotFoundContent="Select a plugin to see required credentials"
                    [nzNotFoundImage]="'simple'">
                </nz-empty>
            </form>
        </div>
    </nz-modal>
</div>