/* app.component.css */
.app-layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.dashboard-container{
     padding: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}
.counts{
    font-size:26px;
}
