<form nz-form [formGroup]="workflowForm" (ngSubmit)="onSubmit()" nzLayout="vertical"
    class="max-w-2xl mx-auto p-4 bg-white rounded-lg shadow-sm">
    <!-- ID -->
    <nz-form-item>
        <nz-form-label nzFor="id" nzRequired>Code</nz-form-label>
        <nz-form-control nzErrorTip="Please enter workflow code!">
            <input nz-input formControlName="code" placeholder="Enter unique code" />
        </nz-form-control>
    </nz-form-item>

    <!-- Name -->
    <nz-form-item>
        <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
        <nz-form-control nzErrorTip="Please enter workflow name!">
            <input nz-input placeholder="Enter workflow name" formControlName="name" />
        </nz-form-control>
    </nz-form-item>

    <!-- Version -->
    <!-- <nz-form-item>
    <nz-form-label nzFor="version" nzRequired>Version</nz-form-label>
    <nz-form-control nzErrorTip="Please enter version number!">
      <input nz-input type="number" placeholder="1" formControlName="version" />
    </nz-form-control>
  </nz-form-item> -->

    <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzSm]="9" class="aligh-left" [nzXs]="24" >
            Controller
        </nz-form-label>
        <nz-form-control>
            <nz-select formControlName="controller" nzSize="small"
                nzPlaceHolder="Select option">
                <nz-option *ngFor="let opt of controllers" [nzValue]="opt" [nzLabel]="opt"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <!-- Workflow JSON -->
    <nz-form-item>
        <nz-form-label nzFor="workflow_json">Description</nz-form-label>
        <nz-form-control>
            <textarea nz-input rows="6" formControlName="description" placeholder='Enter Description'></textarea>
        </nz-form-control>
    </nz-form-item>

    <!-- Buttons -->
    <!-- <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="workflowForm.invalid">Submit</button>
      <button nz-button nzType="default" class="ml-2" (click)="onReset()">Reset</button>
    </nz-form-control>
  </nz-form-item> -->
</form>